---
---

$base-font-family: 'Helvetica';
$body-font-family: 'Helvetica';
// $code-font-family: 'Times New Roman';
// $code-font-size: 20;
// $code-font-family: 'Times New Roman', monospace;
// $base-font-family: 'Roboto';
// $body-font-family: 'Roboto';
$code-font-family: 'Ubuntu-Mono', monospace;
$header-font-family: 'Times New Roman';
$header-font-color: rgb(240, 240, 240);
// $background-color: rgb(0, 0, 0);
// $body-background-color: rgba(0, 0, 0, 0.94);
$body-background-color: rgb(10,10,10);
// $body-font-color: rgba(255, 255, 255, 0.94);
// $body-font-color: rgb(240, 240, 240);
$body-font-color: rgb(200, 200, 200);
// $body-font-color: rgb(185, 180, 171);
$brand-color: black;

$container-width: 1100px;
// $container-width: 90vw;
// $container-width: 100%;
$tablet-width: 600px;
$phone-width: 480px;

$header-thickness: 56px;

$icon-transition-time: 1.0s;
$envelope-color: #f39c12;
$twitter-color: #00aced;
$instagram-color: #375989;
$github-color: #343434;
$linkedin-color: #0073a4;
$facebook-color: #3d5b99;
$google-color: #e64a41;
$pinterest-color: #bd081c;
$medium-color: #00AB6C;
$codepen-color: black;
$rss-color: #ff6600;

@import "-sections-dir";
